.galleryItem {
  margin: 12px 8px;
  padding: 8px;
  background-color: #fff;
  width: 175px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.galleryItem img {
  max-height: 70%;
  margin-bottom: 8px;
}

.galleryItem a {
  font-size: 0.85rem;
  text-decoration: none;
  text-align: center;
  color: #0a2f8c;
  font-weight: 700;
}
